# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
.vs/WindowsProject1/v16/.suo
.vs/QuarcCode/v16/.suo
*.iobj
*.ipch
*.pdb
*.ipdb
*.log
*.tlog
*.txt
*.recipe
